<%
  extra_classes ||= ""
  name ||= ""
  note ||= ""
  menu ||= ""
  wines ||= ""
  n_dish = 1
%>


<div class="menu <%= extra_classes %>">

  <p class="menu__title">
    <%= image_tag '/assets/images/shared/logo_mini.png', :alt => 'Tasca Fandango' %>
    <span>Menús</span>
  </p>

  <% link_to '/menus.html', :relative => true, :class => 'menu__return' do %>
    <span class="icon-return"></span>
  <% end %>

  <div class="menu__summary">
    <div class="menu__summary__menu">
      <p class="menu__summary__menu__name">
        <%= name %>
      </p>
      <p class="menu__summary__menu__note">
        <%= note %>
      </p>
      <% menu.each do |dish| %>
        <p class="menu__summary__menu__text">
          <%= dish[:name] %>
        </p>
      <% end %>
      <% link_to '', :relative => true, :class => 'menu__summary__menu__wines', :'data-toggle' => '.menu__details__wines' do %>
        <p class="menu__summary__menu__wines__text">
          <%= wines[:text] %>
        </p>
        <p class="menu__summary__menu__wines__note">
          <%= wines[:note] %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="menu__details">
    <div class="swiper-container menu__details__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <% menu.each do |dish| %>
          <div class="swiper-slide menu__details__slider__item">
            <div class="menu-dish">
              <div class="menu-dish__info">
                <p class="menu-dish__info__name">
                  <span class="menu-dish__info__name--number">
                    <% if n_dish < 10 %>
                      0<%= n_dish %>
                    <% else %>
                      <%= n_dish %>
                    <% end %>
                  </span>
                  <span class="menu-dish__info__name--text"><%= dish[:name] %></span>
                </p>
                <div class="menu-dish__info__allergens">
                  <ul class="menu-dish__info__allergens__list">
                    <% i = 0 %>
                    <% while i < 7 do %>
                      <li>
                        <% if dish[:allergens].to_a[i] %>
                          <span class="icon-<%= dish[:allergens].to_a[i] %>"></span>
                        <% end %>
                      </li>
                      <% i = i + 1 %>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="menu-dish__image">
                <%= image_tag dish[:image] %>
              </div>
            </div>
          </div>
          <% n_dish = n_dish + 1 %>
        <% end %>

      </div>

      <div class="swiper-button-prev menu__details__slider__nav menu__details__slider__nav--prev">
        <span class="icon-chevron-up"></span>
      </div>
      <div class="swiper-button-next menu__details__slider__nav menu__details__slider__nav--next">
        <span class="icon-chevron-down"></span>
      </div>
    </div>

    <div class="menu__details__wines">

      <p class="menu__details__wines__title">
        <%= wines[:text] %>
      </p>

      <% link_to '', :relative => true, :class => 'menu__details__wines__close', :'data-toggle' => '.menu__details__wines' do %>
        <span class="icon-close"></span>
      <% end %>

      <div class="swiper-container menu__details__wines__slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          <% wines[:list].each_slice(2).to_a.each do |wines_sub| %>
            <div class="swiper-slide menu__details__wines__slider__item">
              <div class="wines-row">
                <% wines_sub.each do |wine| %>
                  <div class="wines-row__wine">
                    <div class="wines-row__wine__image">
                      <%= image_tag wine[:image] %>
                    </div>
                    <div class="wines-row__wine__info">
                      <p class="wines-row__wine__info__name"><%= wine[:name] %></p>
                      <p class="wines-row__wine__info__type"><%= wine[:type] %></p>
                      <p class="wines-row__wine__info__origin"><strong>D. O.</strong> <%= wine[:origin] %></p>
                      <p class="wines-row__wine__info__variety">
                        <span class="wines-row__wine__info__variety--label">Variedad:</span>
                        <span class="wines-row__wine__info__variety--value"><%= wine[:variety] %></span>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>

        <div class="swiper-button-prev menu__details__wines__slider__nav menu__details__wines__slider__nav--prev">
          <span class="icon-chevron-up"></span>
        </div>
        <div class="swiper-button-next menu__details__wines__slider__nav menu__details__wines__slider__nav--next">
          <span class="icon-chevron-down"></span>
        </div>
      </div>

    </div>
  </div>


</div>
