<%
  extra_classes ||= ""
  name ||= ""
  note ||= ""
  menu ||= ""
  wines ||= ""
  n_dish = 1
%>


<div class="wines <%= extra_classes %>">

  <p class="wines__title">
    <%= image_tag '/assets/images/shared/logo_mini.png', :alt => 'Tasca Fandango' %>
    <span>Carta de vinos</span>
  </p>

  <div class="wines__filters">

  </div>

  <div class="wines__details">
    <div class="swiper-container wines__details__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <% wines[:list].each_slice(2).to_a.each do |wines_sub| %>
          <div class="swiper-slide wines__details__slider__item">
            <div class="wines-row">
              <% wines_sub.each do |wine| %>
                <div class="wines-row__wine">
                  <div class="wines-row__wine__image">
                    <%= image_tag wine[:image] %>
                  </div>
                  <div class="wines-row__wine__info">
                    <p class="wines-row__wine__info__name"><%= wine[:name] %></p>
                    <p class="wines-row__wine__info__type"><%= wine[:type] %></p>
                    <p class="wines-row__wine__info__origin"><strong>D. O.</strong> <%= wine[:origin] %></p>
                    <p class="wines-row__wine__info__variety">
                      <span class="wines-row__wine__info__variety--label">Variedad:</span>
                      <span class="wines-row__wine__info__variety--value"><%= wine[:variety] %></span>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="swiper-button-prev wines__details__slider__nav wines__details__slider__nav--prev">
        <span class="icon-chevron-up"></span>
      </div>
      <div class="swiper-button-next wines__details__slider__nav wines__details__slider__nav--next">
        <span class="icon-chevron-down"></span>
      </div>
    </div>
  </div>

</div>
